<h1>New User</h1>

<%= form_for(@useeer) do |f| %>
  <% if @useeer.errors.any? %>
    <div id="error_explanation">
    <h2><%= pluralize(@useeer.errors.count, "error") %> prohibited this user from being saved:</h2>

    <ul>
      <% @useeer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<p>
  <%= f.label :login %><br />
  <%= f.text_field :login %>
</p>
<p>
  <%= f.label :password, f.object.new_record? ? nil : "Change password" %><br />
  <%= f.password_field :password %>
</p>
<p>
  <%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %>
</p>
<p>
  <%= f.radio_button :role, 'constituency' %>
  <%= label :role_constituency, 'Coordinator1' %>
</p>
<p>
  <%= f.radio_button :role, 'constituency' %>
  <%= label :role_constituency, 'Coordinator2' %>
</p>
<p>
  <%= f.radio_button :role, 'constituency' %>
  <%= label :role_constituency, 'Coordinator3' %>
</p>

<p class="actions">
  <%= f.submit %>
</p>
<% end %>
<%= link_to 'Back', useeers_path %>
