<p id="notice"><%= notice %></p>

<p>
  <strong>Login:</strong>
  <%= @useeer.login %>
</p>
<p>
  <strong>Role:</string>
  <%= @useeer.role %>
</p>
<p>
  <strong>Name:</strong>
  <%= @useeer.name %>
</p>
<p>
  <strong>Surname:</strong>
  <%= @useeer.surname %>
</p>

<%= link_to 'Back', useeers_path %>
