<%= stylesheet_link_tag "style" %>

  <div id="wrapper">
    <div id="wrapper2">
      <div id="header">
        <div id="logo">
          <img src="images/img06.jpg" alt="" width="138" heigh="93" />
        </div>
        <h1>The best System</h1>

      </div>
      <div id="page">
        <div id="content">
          <br>

	  <h1>Welcome to the best System</h1>
	  <h2>Login</h2>

	  <%= form_for @useeer_session, :as => :useeer_session, :url => { :action => "create" } do |f| %>
	    <p>
	      <%= f.label :login %><br>
	      <%= f.text_field :login %>
	    </p>
	    <p>
	      <%= f.label :password %><br>
	      <%= f.password_field :password %>
	    </p>
	    <p>
	      <%= f.submit "(: Submit :)" %>
	    </p>
	  <% end %>

	</div>
      </div>
    </div>

    <div id="footer">
      <p>Katarzyna Drapała, EPI, UJ</p>
    </div>

  </div>
