<%= form_for(@voote) do |f| %>
  <% if @voote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@voote.errors.count, "error") %> prohibited this voote from being saved:</h2>

      <ul>
      <% @voote.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :number %><br>
    <%= f.number_field :number %>
  </div>
  <div class="field">
    <%= f.label :id_const %><br>
    <%= f.number_field :id_const %>
  </div>
  <div class="field">
    <%= f.label :id_com %><br>
    <%= f.number_field :id_com %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
