<%= stylesheet_link_tag "style" %>

<p id="notice"><%= notice %></p>

<h1>Listing Constituencies</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Number of voters</th>
      <th>Number of cards</th>
      <th>Number of votes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @constituencies = Constituency.all %>
      <tr>
        <td><%= constituency.name %></td>
        <td><%= constituency.number_of_voters %></td>
        <td><%= constituency.card_number %></td>
        <td><%= constituency.votes %></td>
        <td><%= link_to 'Show', constituency %></td>
        <td><%= link_to 'Edit', edit_constituency_path(constituency) %></td>
        <td><%= link_to 'Destroy', constituency, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  </tbody>
</table>

<br>

<%= link_to 'New Constituency', new_constituency_path %>
<%= link_to 'Logout', logout_path %>
